.infos {
    display: flex;
    justify-content: space-between;
    height: calc(var(--unit) * 145);
    gap: calc(var(--unit) * 3);
}

.infos li {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infos li img {
    width: 100%;
}

.infos li h3 {
    text-align: center;
}