.container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit) * 19);
    padding: 0 calc(var(--unit) * 12);
    padding-top: calc(var(--unit) * 19);
}

.section {
    display: flex;
    flex-direction: column;
    background-color: green;
}

.section h2 {
    text-align: center;
}

.univers {
    display: flex;
    gap: calc(var(--unit) * 2);
}

.univers li {
    background-color: blue;
    padding: calc(var(--unit) * 4);
}