.container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit) * 19);
    padding: 0 calc(var(--unit) * 12);
    /*padding-top: calc(var(--unit) * 19);*/
    z-index: 2;
}

.section {
    display: flex;
    flex-direction: column;
    color: var(--white);
}

.section h2 {
    text-align: center;
    font-family: "june-expt-variable", sans-serif;
    letter-spacing: 4px;
}

.univers {
    display: flex;
    gap: calc(var(--unit) * 2);
}

.univers li {
    padding: calc(var(--unit) * 4);
}