.container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit) * 19);
    /*padding: 0 calc(var(--unit) * 12);*/
    padding-top: calc(var(--unit) * 5);
    z-index: 2;
}

.section {
    display: flex;
    flex-direction: column;
    color: var(--white);
    gap: calc(var(--unit) * 7);
}

.padding {
    padding: 0 calc(var(--unit) * 44);
}

.paddingCarte {
    padding: 0 calc(var(--unit) * 20);
}

.section h2 {
    font-family: "june-expt-variable", sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.title {
    text-align: center;
}