.univers {
    display: flex;
    gap: calc(var(--unit) * 2);
    background-color: var(--dark-green);
    overflow-x: scroll;
}

.univers li {
    height: calc(var(--unit) * 145);
}

.univers li img {
    height: 100%;
}

.univers::-webkit-scrollbar {
    height: var(--unit);
}

.univers::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, 0.292);
}